USE [master]
GO
/****** Object:  Database [TelefonRehberdb]    Script Date: 17.02.2022 01:32:25 ******/
CREATE DATABASE [TelefonRehberdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelefonRehberdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TelefonRehberdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelefonRehberdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TelefonRehberdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelefonRehberdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelefonRehberdb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.02.2022 01:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rehbers]    Script Date: 17.02.2022 01:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rehbers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[numara] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Rehbers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rehbers] ON 

INSERT [dbo].[Rehbers] ([ID], [AdSoyad], [numara]) VALUES (1, N'duygu delice', N'111111111')
INSERT [dbo].[Rehbers] ([ID], [AdSoyad], [numara]) VALUES (2, N'hülya delice', N'222222222')
INSERT [dbo].[Rehbers] ([ID], [AdSoyad], [numara]) VALUES (3, N'ali  veli', N'333333333')
SET IDENTITY_INSERT [dbo].[Rehbers] OFF
GO
USE [master]
GO
